<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ pageTitle }}</title>
    <link href="{{ link_asset('css/bootstrap.css') }}" rel="stylesheet" />

    <script src="http://localhost/js/app.js?t={{ time() }}"></script>
</head>
<body>
    {% include 'partials/navbar.html' %}

    <div class="container my-5">
        {{ block('content') }}
    </div>

    {% include 'partials/footer.html' %}

    <script src="{{ link_asset('js/bootstrap.bundle.js') }}"></script>
</body>
</html>
