{% extends 'layouts/default.html' %}

{% block content %}

    {# Define a custom meta for home h1 #}
    <h1>{{ website.getMetaValue('home-h1') ?: 'Create a website meta with key "home-h1" to change this text.' }}</h1>
    <hr />

    <h2>Sample 1: Get 8 latest posts</h2>
    {% set latestPostsQuery = multikey_filter_post_query().sortBy('id').sortDesc().setLimit(8) %}
    {% set latestPosts = multikey_filter_get_posts(latestPostsQuery) %}
    Total count: {{ multikey_filter_count(latestPostsQuery) }}<br />
    <div class="row mt-3">
        {% for post in latestPosts %}
        <div class="col-6 col-lg-3 mb-3">
            {% include 'components/post_box.html' with { post } %}
        </div>
        {% endfor %}
    </div>
    <hr />

    <h2>Sample 2: Get posts by categories</h2>
    {% set allCategories = website_category_all() %}
    {% for websiteCategory in allCategories %}

        {% set categoryPostsQuery = multikey_filter_post_query().sortBy('sorting').sortDesc().setLimit(8).setFilterKeys([websiteCategory.id]) %}
        <h3>Category: <a href="{{ link_to(websiteCategory) }}">{{ websiteCategory.title }}</a> (Total: {{ multikey_filter_count(categoryPostsQuery) }})</h3>
        <div class="row">
            {% set categoryPosts = multikey_filter_get_posts(categoryPostsQuery) %}
            {% for post in categoryPosts %}
            <div class="col-6 col-lg-3 mb-3">
                {% include 'components/post_box.html' with { post } %}
            </div>
            {% endfor %}
        </div>
    {% endfor %}

{% endblock %}
