{% extends 'layouts/default.html' %}

{% block content %}

    <!-- Post info -->
    <h1>Post information:</h1>
    <table class="table table-bordered">
        <tr>
            <td>Title</td>
            <td>{{ post.title }}</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>{{ post.description }}</td>
        </tr>
        <tr>
            <td>Categories</td>
            <td>
                {% for websiteCategory in model_relation(post, 'websiteCategories') %}
                <a href="{{ link_to(websiteCategory) }}">{{ websiteCategory.title }}</a>,
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>Tags</td>
            <td>
                {% for websiteTag in model_relation(post, 'websiteTags') %}
                <a href="{{ link_to(websiteTag) }}">{{ websiteTag.name }}</a>,
                {% endfor %}
            </td>
        </tr>
    </table>
    <br />

    <!-- Part info -->
    <h2>Part information:</h2>
    <table class="table table-bordered">
        <tr>
            <td>Current part</td>
            <td>{{ part.sequence }}</td>
        </tr>
        <tr>
            <td>Total Parts</td>
            <td>
                {{ post.subject.parts_count }}
                <hr />
                {% for _part in parts %}
                <a href="{{ link_post(post, _part.sequence) }}"
                    {% if _part.sequence is same as part.sequence %}
                    style="font-weight: bolder"
                    {% endif %}
                >{{ _part.title ?: 'Part ' ~ _part.sequence }}</a>,
                {% endfor %}
            </td>
        </tr>
    </table>
    <br />

    <!-- Media info -->
    <h2>Media information:</h2>
    <p>Media count: {{ count(media) }}</p>
    <ul id="media-tabs" class="nav nav-tabs mb-3">
        {% for index, _media in media %}
        <li class="nav-item">
            <span class="nav-link {{ not index ? 'active' : '' }}" aria-current="page" style="cursor: pointer" onclick="switchMediaTab(event)" data-media-id="{{ _media.id }}">Media {{ index + 1 }}</span>
        </li>
        {% endfor %}
    </ul>

    {% for index, _media in media %}
    <div class="media-details" id="media-{{ _media.id }}" style="display: {{ index ? 'none' : '' }}">
        <table class="table table-bordered">

            <tr>
                <th>ID</th>
                <th>Type</th>
                <th>Size</th>
                <th>CDNs</th>
            </tr>

            <!-- Media files -->
            {% set files = model_relation(_media, 'files') %}
            {% for file in files %}
            <tr>
                <td>{{ file.id }}</td>
                <td>{{ enum_value(file.type) }}</td>
                <td>{{ file.size }} bytes</td>
                <td>
                    <!-- CDNs -->
                    {% set cdns = model_relation(file, 'cdns') %}
                    {% for index, cdn in cdns %}
                        {% set cdnFileUrl = cdn.getCdnHandler().getCdnFileUrl(cdn.cdnFile) %}
                        <p>{{ cdn.name }} ({{ enum_value(cdnFileUrl.getType()) }})</p>

                        <a href="{{ cdnFileUrl.getUrl() }}">
                            <img src="{{ cdnFileUrl.getUrl() }}" style="width: 150px" />
                        </a>

                        {% if index %}
                        <hr />
                        {% endif %}

                    {% endfor %}
                </td>
            </tr>
            {% endfor %}

        </table>
    </div>
    {% endfor %}
    <br />

    <script>
    function switchMediaTab(event) {
        const element = event.target
        const mediaId = element.getAttribute('data-media-id')

        document.querySelectorAll('#media-tabs .nav-link').forEach(element => element.classList.remove('active'))
        element.classList.add('active')

        document.querySelectorAll('.media-details').forEach(element => element.style.display = 'none')
        document.querySelector('#media-' + mediaId).style.display = 'block'
    }
    </script>

    <!-- Content info -->
    <h2>Content</h2>
    <p>Title: {{ content.title }}</p>
    <p>Description: {{ content.description }}</p>
    <blockquote class="blockquote">
        {{ content.content | raw }}
    </blockquote>
    <br />

    <!-- Ajax suggestions -->
    <h2>Suggestions</h2>
    <div x-data="list('/ajax/suggestions/{{ post.slug }}')">
        <div class="row">
            <template x-for="post in data">
                <div data-fetch-result class="col-6 col-lg-3 mb-3">
                    <a :href="post.url" x-text="post.title"></a>
                </div>
            </template>
        </div>
        <div class="text-center">
            <div x-show="isLoading">...Loading...</div>
            <button x-bind="trigger" class="btn btn-primary m-auto">Load more</button>
        </div>
    </div>

{% endblock %}
