{% extends 'layouts/default.html' %}

{% block content %}
    <h1>Search "{{ keywords }}"</h1>

    <ul id="search-tabs" class="nav nav-tabs mt-5">
        <li class="nav-item">
            <span onclick="switchTab(event)" class="nav-link active" aria-current="page" style="cursor: pointer" data-content-id="search-posts">Posts ({{ postsCount }})</span>
        </li>
        <li class="nav-item">
            <span onclick="switchTab(event)" class="nav-link" aria-current="page" style="cursor: pointer" data-content-id="search-tags">Tags ({{ websiteTagsCount }})</span>
        </li>
    </ul>

    <div id="search-posts" class="tab-content">
        {%
            include 'components/list_posts.html' with {
                posts,
                postsCount
            }
        %}
    </div>

    <div id="search-tags" class="p-3 tab-content" style="display: none">
        {% for websiteTag in websiteTags %}
        <a href="{{ link_to(websiteTag) }}">
            <h3>
                {{ websiteTag.name }}
            </h3>
        </a>
        <hr />
        {% endfor %}

        {% if websiteTagsCount %}
            {%
                include 'components/pagination_bootstrap.html'
                with {
                    count: websiteTagsCount
                }
            %}
        {% endif %}
    </div>

    <script>
    function switchTab(event) {
        const element = event.target

        document.querySelectorAll('#search-tabs li span').forEach(e => e.classList.remove('active'))
        element.classList.add('active')

        document.querySelectorAll('.tab-content').forEach(e => e.style.display = 'none')
        document.querySelector('#' + element.getAttribute('data-content-id')).style.display = 'block'
    }
    </script>

{% endblock %}
