{% extends 'layouts/default.html' %}

{% block content %}
    <h1>WebsiteTagGroup information:</h1>
    <table class="table table-bordered">
        <tr>
            <td>Name</td>
            <td>{{ websiteTagGroup.name }}</td>
        </tr>
        <tr>
            <td>Slug</td>
            <td>{{ websiteTagGroup.slug }}</td>
        </tr>
        <tr>
            <td>SEO title</td>
            <td>{{ websiteTagGroup.seo_title }}</td>
        </tr>
        <tr>
            <td>SEO description</td>
            <td>{{ websiteTagGroup.seo_description }}</td>
        </tr>
        <tr>
            <td>Content</td>
            <td>{{ websiteTagGroup.content | raw }}</td>
        </tr>
        <tr>
            <td>Website tags count</td>
            <td>{{ websiteTagGroup.website_tags_count }}</td>
        </tr>
    </table>
    <br />

    <h2>Website tags:</h2>
    {% for websiteTag in websiteTags %}
    <hr />
    <h3><a href="{{ link_to(websiteTag) }}">{{ websiteTag.name }}</a></h3>
    {% endfor %}

    {%
        include 'components/pagination_bootstrap.html' with {
            count: websiteTagGroup.website_tags_count
        }
    %}

{% endblock %}
