{% if publishment %}
    {% set thumbnailFile = model_relation(publishment, 'thumbnailFile') %}
    {% set thumbnailUrl = image_resize(300, thumbnailFile) ?: link_asset('images/default.png') %}
{% endif %}
<div class="card" style="width: 18rem;">

    <img
        src="{{ thumbnailUrl }}"
        data-fetch-result-thumbnail="{{ link_asset('images/default.png') }}"
        class="card-img-top"
        alt="{{ publishment.title }}"
    />

    <div class="card-body">
        <h5 data-fetch-result-title class="card-title">{{ publishment.title }}</h5>
        <p data-fetch-result-description class="card-text">{{ publishment.description }}</p>
        <a data-fetch-result-url href="{{ publishment ? link_to(publishment) : '#' }}" class="btn btn-primary">View</a>
    </div>
</div>
